@model PrimarieWeb.Models.Eveniment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="table-white">
    <h4>Eveniment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeEveniment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeEveniment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descriere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descriere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataEveniment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataEveniment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cetatean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cetatean.CetateanId)
        </dd>
    </dl>
</div>
<div class ="highlight">
    <a asp-action="Edit" asp-route-id="@Model?.EvenimentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
