@model IEnumerable<PrimarieWeb.Models.Cetatean>

@{
    ViewData["Title"] = "Index";
}

<h1>Cetateni</h1>

<p>
    <a asp-action="Create" class="highlight">Create New</a>
</p>

<table class="table table-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nume)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CetateanId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CetateanId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CetateanId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


